mixin footer()
    <footer class="footer">
    <div class="content has-text-centered">
        <p> Excess Luggage </p>
        <p> Johanna Baguio </p>
        <p>Amsterdamvej 14, Copenhagen S,Denmark </p>
        <a href='mailto:johbaguio@gmail.com' target='_blank' rel='noopener noreferrer' class='contact-option mail'>
            |johbaguio@gmail.com
        </a>
        <p class='contact-option'> +45 29642002</p>
        <img src="https://s19.postimg.cc/id4ghpj2b/logoo.png" class="logo"> 
    </div>
    </footer>