mixin navigation()
    <nav class="navbar-wrapper">
        <div class="navbar-center">
            <a href='./index.html' class="nav active" >
                |Home 
            </a>
            <i class="fa fa-circle dot"></i>
            <a href='./about.html' class="nav">
                |About
            </a>
            <i class="fa fa-circle dot"></i>
            <a href='./contact.html' class="nav">
                |Contact
            </a>
        </div>  
    </nav>