.aurora-page{
    background-image:url(https://s19.postimg.cc/qk2gwq04j/aurors.png);
    border:outset;
    border-color:rgb(2, 117, 6);
    border-width:5px;
  }

  .aurora-pics{
    width:300px;
    float:left;
    position:absolute;
    margin-left:125px;
    border-radius:5px;
    transition: transform .2s;
  }
  
  .aurora-pics:hover {
    transform: scale(1.2); 
  }
  
  .aurora-pics1{
    width:200px;
    position:absolute;
    margin-top:60px;
    margin-left:55px;
    border-radius:5px;
    transition: transform .2s;
  }
  
  .aurora-pics1:hover {
    transform: scale(1.2); 
  }
  
  .aurora-pics2{
    width:200px;
    position:absolute;
    margin-top:60px;
    margin-left:300px;
    border-radius:5px;
    transition: transform .2s;
  }
  
  .aurora-pics2:hover {
    transform: scale(1.2); 
  }
  
  .aurora-pics3{
    width:300px;
    position:absolute;
    margin-top:80px;
    margin-left:125px;
    border-radius:5px;
    transition: transform .2s;
  }
  
  .aurora-pics3:hover {
    transform: scale(1.2); 
  }
  
  .aurora-pics4{
    height:175px;
    position:absolute;
    margin-left:800px;
    magin-bottom:40px;
    border-radius:5px;
    transition: transform .2s;
  }
  
  .aurora-pics4:hover {
    transform: scale(1.2); 
  }

  .paper-plane-aurora{
    width:150px;
    position:absolute;
    margin-left:1100px;
    margin-top:50px;
  }