.navbar-wrapper {
    display: flex;
    color: black;
    background: #FAF0DC;
    align-items: center;
    text-transform: uppercase;
    margin: 0 10%;
    white-space: nowrap;

    @include md {
        margin: 0 2%;
    }

    .navbar-center {
        margin: 2% auto;

        @include md {
            margin: 4% auto;
        }

        a {
            font-size: 1.2rem;
            font-weight: bold;
            text-decoration: none;
            background: transparent;

            @include md {
                padding: 2% 0;
                font-size: 1.05rem;
            }
        }

        .dot {
            align-items: center;
            font-size: .6rem;
            opacity: .5;
            align-self: center;
            padding: 0 1%;
        }

        .nav {
            transition: font-size .5s ease;

            &:hover {
                color: black;
                font-size: 20px;
            }
        }

        .active {
            text-align: center;
            color: black;
            padding: 5px;
        }


    }
}