.place-page {

    .icons {
        width: 500px;
        margin: auto;
        margin-top: 12px;
        padding: 0px;
        display: block;
    }

    .icons-diff-size {
        width: 380px;
        margin: auto;
        margin-top: 12px;
        padding: 0px;
        display: block;
    }

    .title-of-stories {
        color: brown;
        font-size: 28px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 35px;
        padding: 5px;

        @include md {
            font-size: 24px;
        }
    }

    .siargao-details {
        margin: 0 10% 5% 10%;

        @include md {
            margin: 0 6%;
        }

        .info {

            p {
                text-indent: 3%;
                font-size: 18px;

                @include md {
                    font-size: 15px;
                }

            }

            .pics {
                display: flex;
                justify-content: center;
                margin: 2% 0;

                @include md {
                    margin: 2% 0%;
                }

                .top-pics {
                    width: 32%;
                    padding: 0 10px;
                    margin-bottom: 20px;
                    border-radius: 50%;
                    opacity: .7;
                    transition: transform .5s ease;

                    @include md {
                        width: 35%;
                        height: 25%;
                        padding: 0 5px;
                        margin-bottom: 10px;
                    }

                    &:hover {
                        transform: scale(1.05);
                        opacity: 1;
                    }

                }



            }

            .pics-smaller-container {
                display: flex;
                justify-content: center;
                margin: 2% 0;

                @include md {
                    flex-direction: column;

                }

                .pics-smaller {
                    width: 40%;
                    padding: 0 30px;
                    margin-bottom: 20px;
                    opacity: .8;
                    transition: transform .5s ease;

                    @include md {
                        width: 100%;
                        padding: 0 10px;

                    }


                    &:hover {
                        transform: scale(1.05);
                        opacity: 1;
                    }

                }
            }

            .portrait-pics-container {

                display: flex;
                justify-content: center;
                margin: 2% 0;

                @include md {
                    flex-direction: column;

                }

                .pics-portrait {
                    width: 30%;
                    height: 20%;
                    padding: 0 30px;
                    margin-bottom: 20px;
                    opacity: .8;
                    transition: transform .5s ease;

                    @include md {
                        width: 100%;
                        padding: 0 10px;
                        height: auto;
                        margin: 15px auto;

                    }


                    &:hover {
                        transform: scale(1.05);
                        opacity: 1;
                    }

                }

                .standing {
                    align-self: center;
                }
            }

        }
    }



    .signature-planes {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: -3%;

        .signature {
            width: 25%;

            @include md {
                width: 50%;
                height: 20%;
                margin: 3% -10% 0 0;
            }
        }

        .paper-plane {
            height: 10%;
            opacity: .8;

            @include md {
                width: 25%;
                height: auto;
                margin: 15% 0;
            }
        }




    }

    .places-links {
        display: flex;
        justify-content: center;

        .links-after-stories {
            font-size: 12px;
            color: black;
            text-transform: uppercase;
            text-align: center;
            border: white 1px outset;
            border-radius: 3px;
            padding: 8px;
            margin: 0 2% 5% 0;


            @include md {
                font-size: 9px;
                padding: 8px;
            }

            &:hover {
                color: black;
                font-weight: bold;
            }
        }

    }
}