.boracay-page{
    background-image:url(https://s19.postimg.cc/udvx5mp3n/borrrrr.png);
    border:outset;
    border-width:5px;
  }

  .boracay-pic1{
    width:350px;
    float:right;
    margin-right:70px;
    border-radius:5px;
    transition: transform .2s;
  }
  
  .boracay-pic1:hover {
    transform: scale(1.2); 
  }
  
  .boracay-pics-smaller1{
    width:175px;
    position:absolute;
    margin-top:-43px;
    margin-left:1120px;
    margin-right:35px;
    border-radius:5px;
    transition: transform .2s;
  }
  
  .boracay-pics-smaller1:hover {
    transform: scale(1.2); 
  }
  
  .boracay-pics-smaller2{
    width:175px;
    position:absolute;
    margin-top:-43px;
    margin-left:900px;
    border-radius:5px;
    transition: transform .2s;
  }
  
  .boracay-pics-smaller2:hover {
    transform: scale(1.2); 
  }
  
  .boracay-pic2{
    width:320px;
    position:absolute;
    margin-top:40px;
    margin-left:930px;
    border-radius:5px;
    transition: transform .2s;
  }
  
  .boracay-pic2:hover {
    transform: scale(1.2); 
  }

  .paper-plane-boracay{
    width:150px;
    position:absolute;
    margin-left:300px;
    margin-top:40px;
  }

  .text-travels{
    font-family:monospace;
    font-size:15px;
    margin-right:500px;
    margin-left:100px;
    text-align:justify;
    text-indent:30px;
    }