.boracay-page .icons {
  width: 500px;
  margin: auto;
  margin-top: 12px;
  padding: 0px;
  display: block; }

.boracay-page .title-of-stories {
  color: brown;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 35px;
  padding: 5px; }

.boracay-page .siargao-details {
  margin: 0 10% 5% 10%; }
  .boracay-page .siargao-details .info p {
    text-indent: 3%;
    font-size: 18px; }
  .boracay-page .siargao-details .info .pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 2% 0; }
    .boracay-page .siargao-details .info .pics .siargao-pics {
      width: 32%;
      padding: 0 10px;
      border-radius: 50%;
      opacity: .5;
      -webkit-transition: -webkit-transform .5s ease;
      transition: -webkit-transform .5s ease;
      -o-transition: transform .5s ease;
      transition: transform .5s ease;
      transition: transform .5s ease, -webkit-transform .5s ease; }
      .boracay-page .siargao-details .info .pics .siargao-pics:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1; }
    .boracay-page .siargao-details .info .pics .siargao-pics-smaller {
      width: 40%;
      padding: 0 30px;
      opacity: .8;
      -webkit-transition: -webkit-transform .5s ease;
      transition: -webkit-transform .5s ease;
      -o-transition: transform .5s ease;
      transition: transform .5s ease;
      transition: transform .5s ease, -webkit-transform .5s ease; }
      .boracay-page .siargao-details .info .pics .siargao-pics-smaller:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1; }
    .boracay-page .siargao-details .info .pics .siargao-pics-portrait {
      width: 30%;
      height: 20%;
      padding: 0 30px;
      opacity: .8;
      -webkit-transition: -webkit-transform .5s ease;
      transition: -webkit-transform .5s ease;
      -o-transition: transform .5s ease;
      transition: transform .5s ease;
      transition: transform .5s ease, -webkit-transform .5s ease; }
      .boracay-page .siargao-details .info .pics .siargao-pics-portrait:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1; }
    .boracay-page .siargao-details .info .pics .standing {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

.boracay-page .signature-planes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: -3%; }
  .boracay-page .signature-planes .signature {
    width: 25%; }
  .boracay-page .signature-planes .paper-plane-siargao1,
  .boracay-page .signature-planes .paper-plane-siargao2 {
    height: 10%;
    opacity: .8; }
