.title-of-stories {
  color: brown;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-right: 240px;
  margin-left: 240px;
  margin-top: 15px;
  margin-bottom: 35px;
  padding: 5px; }
