@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre|Boogaloo|Caveat|East+Sea+Dokdo|Gaegu|Nanum+Pen+Script|Patrick+Hand|Permanent+Marker|Maven+Pro&display=swap');

.next{
    text-align: center;
    font-family: 'Gaegu';
    text-transform: uppercase;
    margin-top:40px;
    font-weight: bold;
}

.container2{
    font-family: 'Gaegu', sans-serif;
    font-size: 15px;
    margin: 0 auto;
}

.where-to{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.place{
    padding:10px;
    border:2px outset white;
    border-radius: 5px;
    margin:6px;
}
a{
    text-decoration: none;
    color:black;
    font-weight:bold;
  }

li{
    list-style: none;
}